:root {
    --color-button: #F1CDB3;
    --color-button-hover: #FDDCC4;
    --color-button-text: #292929;
    --color-grey-text: #CDCDCD;
    --color-h2h3-text: #545454;
    --color-p-text: #4C4C4C;
    --color-white: #ffffff;
    --color-light-bg: #F6F6F6;
    --color-pet-info: #FAFAFA;
    --color-the-smallest: #B2B2B2;
    --arial-reg: normal 20px 'Arial', sans-serif;
    --georgia-reg: normal 20px 'Georgia', serif;
    --arial-italic: italic 20px 'Arial', sans-serif;
    --georgia-italic: italic 20px 'Georgia', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-white);
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {    
    margin: 0;
    padding: 0;
    color: var(--color-button-text);
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

a {
    text-decoration: none;
}

.section {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.head_background,
.footer_container {
    background: url(../../assets/svg/noise_transparent.svg), radial-gradient(60% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: var(--color-grey-text);
    padding: 60px 40px;
}

.header_container p {
    color: var(--color-white);
    align-self: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.logo {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

.logo_link {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-button);
}

.nav_menu {
    align-self: center;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 36px;
}

.nav_link {
    color: var(--color-grey-text);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.nav_link:hover {
    color: var(--color-white);
    border-bottom: 3px solid var(--color-button);
}

.neo {
    color: var(--color-white);
    border-bottom: 3px solid var(--color-button);
}

.main_content {
    margin: 0 40px;
    display: flex;
    flex-flow: row wrap;
    gap: 42px;
}

.start_view {
    max-width: 460px;
    display: flex;
    flex-flow: column wrap;
    gap: 42px;
    align-self: center;
    margin-bottom: 80px;
}

.start_view h2 {
    color: var(--color-white);
    max-width: 310px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

.start_view p {
    color: var(--color-grey-text);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

button {
    color: var(--color-button-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 207px;
    height: 52px;
    background-color: var(--color-button);
    border-radius: 100px;
    transition: 0.5s;
}

button:hover {
    background:var(--color-button-hover);
}

section {
    padding: 80px 0 100px 0;
}

.about {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 120px;
}

.about_text {
    margin-top: 14px;
    align-content: center;
    max-width: 430px;
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
}
.about_text h2 {
    max-width: 370px;
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about_text p {
    color: var(--color-p-text);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.friends {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    gap: 60px;
    background-color: var(--color-light-bg);
}

.friends h2 {
    align-self: center;
    max-width: 400px;
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.pet_cards {
    position: relative;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 90px;
}

.b_left {
    padding-bottom: 6px;
    position: absolute;
    top: 44%;
    left: -10.5%;
    width: 52px;
    height: 52px; 
    background-color: var(--color-light-bg);
    border: 2px solid var(--color-button);
    border-radius: 26px;
    cursor: pointer;

}

.b_right {
    padding-bottom: 6px;
    position: absolute;
    top: 44%;
    right: -10.5%;
    width: 52px;
    height: 52px;
    background-color: var(--color-light-bg);
    border: 2px solid var(--color-button);
    border-radius: 26px;
    cursor: pointer;
}

.b_left:hover,
.b_right:hover {
    border: 2px solid var(--color-button-hover);
    background-color: var(--color-button-hover);

}

.pet_info {
    background: var(--color-pet-info);
    border-radius: 9px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}
.pet_info h3 {
    text-align: center;
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.pet_info button {
    align-self: center;
    margin-bottom: 30px;
    justify-content: center;
    width: 187px;
    background: none;
    border: 2px solid var(--color-button);
}
.pet_info button:hover {
    background: var(--color-button-hover);
    border: 2px solid var(--color-button-hover);
}

.friends>button {
    align-self: center;
    width: 261px;
}

.help {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    gap: 60px;
}

.help h2 {
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.help_variants {
    justify-content: center;
    padding: 0 87px;
    display: flex;
    flex-flow: row wrap;
    row-gap: 55px;
    column-gap: 120px;
}

.help_item h3 {
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
}

.help_item {
    background-position: center top;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    gap: 30px;
    height: 113px;
    min-width: 60px;
}

.help_item:nth-child(1) {
    background-image: url('../../assets/svg/icon-pet-food.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(2) {
    background-image: url('../../assets/svg/icon-transportation.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(3) {
    background-image: url('../../assets/svg/icon-toys.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(4) {
    background-image: url('../../assets/svg/icon-bowls-and-cups.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(5) {
    background-image: url('../../assets/svg/icon-shampoos.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(6) {
    background-image: url('../../assets/svg/icon-vitamins.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(7) {
    background-image: url('../../assets/svg/icon-medicines.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(8) {
    background-image: url('../../assets/svg/icon-collars-leashes.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.help_item:nth-child(9) {
    background-image: url('../../assets/svg/icon-sleeping-area.svg');
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.donation {
    justify-content: center;
    background: var(--color-light-bg);
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

.donat_info {
    max-width: 380px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.donat_info h2 {
    color: var(--color-h2h3-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.donat_info h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.donat_info p {
    color: var(--color-the-smallest);
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.text {
    display: flex;
    max-width: 350px;
    height: 43px;
    background: var(--color-button);
    border-radius: 9px;
    border: none;
    background-image: url(../../assets/svg/credit-card.svg);
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.card_number {
    align-self: center;
    padding-left: 60px;
    color: var(--color-button-text);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.footer_container {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer_container h2 {
    color: var(--color-white);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.contacts {
    margin-top: 17px;
    max-width: 280px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.adress {
    margin-top: 17px;
    max-width: 300px;
    display: flex;
    flex-flow: column wrap;
    gap: 32px;
}

.email {
    padding-left: 60px;
    max-width: 250px;
    height: 32px;
    background-image: url(../../assets/svg/icon-email.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.cell {
    padding-left: 60px;
    max-width: 240px;
    height: 32px;
    background-image: url(../../assets/svg/icon-phone.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.frst_location {
    display: flex;
    align-items: center;
    padding-left: 42px;
    max-width: 302px;
    height: 46px;
    background-image: url(../../assets/svg/icon-marker.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.scnd_location{
    display: flex;
    align-items: center;
    padding-left: 42px;
    max-width: 302px;
    height: 32px;
    background-image: url(../../assets/svg/icon-marker.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.scnd_location a,
.frst_location a,
.cell a,
.email a {
    color: var(--color-button);
    
}