:root {
    --color-primary: #F1CDB3;
    --color-primary-light: #fddcc4;
    --color-dark-3xl: #292929;
    --color-dark-s: #CDCDCD;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-light-xl: #ffffff;
    --color-light-l: #F6F6F6;
    --color-light-lt: #f6f6f6;
    --color-light-s: #FAFAFA;
    --color-dark-m: #B2B2B2;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-light-xl);
    box-sizing: border-box;
}

body.active {
    overflow: hidden;
}

/*прибиваем подвал к низу страницы. начало=>*/
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
/*<=прибиваем подвал к низу страницы. конец*/
    max-width: 1280px;
    margin: 0 auto;
    /*overflow-x: hidden;*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {    
    margin: 0;
    padding: 0;
    color: var(--color-dark-3xl);
}

button {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.section {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

main {
    flex: 1 0 auto;
}

.footer_container {
    flex: 0 0 auto;
    background: url(../../assets/svg/noise_transparent.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header_container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 7;
    background-color: rgba(255, 255, 255, 0.87);
}

.header_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 40px;
}

.header_container p {
    color: var(--color-dark-3xl);
    align-self: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.logo {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

.logo_link {
    position: relative;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo_link:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    bottom: -30px;
    left: -20px;
    right: -20px;
}

.nav_menu {
    align-self: center;
}

.nav_list {
    padding-bottom: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 36px;
}

.nav_link {
    color: var(--color-dark-l);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}

.nav_link:hover {
    padding-bottom: 3px;
    color: var(--color-dark-3xl);
    border-bottom: 3px solid var(--color-primary);
    transition: 0.15s;
}

.neo {
    cursor: default;
    padding-bottom: 3px;
    color: var(--color-dark-3xl);
    border-bottom: 3px solid var(--color-primary);
}

.navbar input[type='checkbox'],
.navbar .burger_icon {
    display: none;
}

@media (min-width: 768px) {
    .nav_menu {
        margin-top: 16px;
    }
}

@media /*(min-width: 768px) and*/ (max-width: 1279px) {
    
    .header_container {
        padding: 30px 30px;
    }
}

@media /*(min-width: 768px) and*/ (max-width: 767px) {
    
    .header_container {
        padding: 30px 50px 30px 10px;
    }

    .nav_menu .nav_list{
        display: none;
    }

    /*Бургер. Начало.(Как бы пафосно это ни звучало...)*/

    .navbar {
        opacity: 0.95;
        position: relative;
        z-index: 7;
    }
  
    .nav_menu input[type="checkbox"],
    .burger_menu .burger_icon {
        display: block;
    }
  
    .nav_menu {
        margin-top: 0;
        display: block;
        position: relative;
        top: -38px;
        height: 40px;
        width: 40px;
    }
  
    /*.nav_menu input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 50px;
        width: 50px;
        top: 44px;
        right: -10px;
        z-index: 5;
        opacity: 0;
    }

    .nav_menu input[type="checkbox"]:hover {
        cursor: pointer;
    }*/
  
    .nav_menu .burger_icon {
        display: block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 56px;
        right: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
  
    .nav_menu .burger_icon:hover {
        cursor: pointer;
    }
    
    .nav_menu .burger_icon .line {
        display: block;
        height: 2px;
        width: 100%;
        background: #000000;
    }
 
    .nav_menu .burger_icon {
        transform-origin: 50% 40%;
        transition: transform 0.4s ease-in-out;
    }
  
    .nav_menu .nav_list {
        padding-top: 14px;
        background: var(--color-light-xl);
        justify-content: center;
        height: 830px;
        width: 320px;
        transform: scale(0) translate(0);
        display: flex;
        flex-direction: column;
        align-content: center;
        row-gap: 40px;
        padding-left: 38px;
        padding-right: 38px;
        transition: transform 0.4s ease-in-out;
    }
  
    .navbar .nav_list a {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        letter-spacing: 0em;
    }

    .neo {
        padding-bottom: 5px;
    }

    .logo {
        z-index: 9;
    }
 
    /*.nav_menu input[type="checkbox"]:checked ~*/ 
    .nav_list.active {
        transform: scale(1) translate(-72%);
    }

    /*.nav_menu input[type="checkbox"]:checked ~*/ 
    .burger_icon.active {
        transform: rotateZ(270deg);
    }
/*Бургер. Конец. 
Здесь проблема с тем, что при overflow:hidden у любого родителя, sticky дочернего не работает.
Без js бургер пока как-то так настроил.*/

    .nav_item,
    .neo {
        text-align: center;
    }
}

button {
    color: var(--color-dark-3xl);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 207px;
    height: 52px;
    background-color: var(--color-primary);
    border-radius: 100px;
    transition: 0.5s;
    /*Блик на кнопке. Начало=>*/
    position: relative; 
    overflow-x: hidden;
}

button:hover .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 2s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
/*<=Блик на кнопке. Конец*/

button:hover {  
    background:var(--color-primary-light);
}

section {
    padding: 80px 0 100px 0;
}

.friends {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    gap: 45px;
    background-color: var(--color-light-l);
}

.friends h2 {
    align-self: center;
    max-width: 400px;
    color: var(--color-dark-l);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.pet_cards {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    row-gap: 30px;
    padding: 15px 0;
}

.pet_info {
    background: var(--color-light-s);
    border-radius: 9px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

.pet_info:hover {
    transition: 0.23s;
    transform: scale(1.07);
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255,255,255,1) 73%, rgba(178,178,178,1) 100%);
    box-shadow: 0px 0px 12px 4px var(--color-dark-m);
}

.pet_info:hover button {
    background: var(--color-primary);
    box-shadow:0px 3px 7px 0px var(--color-dark-3xl);
}

.pet_info h3 {
    text-align: center;
    color: var(--color-dark-l);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.pet_info button {
    align-self: center;
    margin-bottom: 30px;
    justify-content: center;
    width: 187px;
    background: none;
    border: 2px solid var(--color-primary);
}
.pet_info button:hover {
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
}

.pet_info button:active {
    transform: translateY(3px);
    box-shadow:0px 0px 5px -2px var(--color-dark-3xl);
}

.paging {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.this_page,
.this_page:hover {
    width: 52px;
    height: 52px;
    color: var(--color-primary);
    background: var(--color-primary);
    cursor: unset;
}

.end_left,
.b_left,
.b_right,
.end_right {
    width: 52px;
    height: 52px;
    background-color: var(--color-light-l);
    border: 2px solid var(--color-primary);
    border-radius: 26px;
    cursor: pointer;

}

.end_left:hover,
.b_left:hover,
.b_right:hover,
.end_right:hover {
    border: 2px solid var(--color-primary-light);
    background-color: var(--color-primary-light);
}

.this_page a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    cursor: default;
}

.end_left:disabled,
.b_left:disabled,
.this_page:disabled,
.b_right:disabled,
.end_right:disabled {
    border: 2px solid var(--color-dark-s);
    cursor: unset;
}

.end_left:disabled a,
.b_left:disabled a,
.this_page:disabled a,
.b_right:disabled a,
.end_right:disabled a {    
    color: var(--color-dark-s);
    cursor: default;
}

.end_left:hover:disabled,
.b_left:hover:disabled,
.this_page:hover:disabled,
.b_right:hover:disabled,
.end_right:hover:disabled {
    background-color: var(--color-light-l);
}

@media /*(min-width: 768px) and*/ (max-width: 1279px) {
    
    .friends {
        gap: 14px;
        padding-bottom: 76px;
    }

    .pet_info:nth-child(7),
    .pet_info:nth-child(8) {
        display: none;
    }

    .paging {
        margin-top: 11px;
    }
}

@media /*(min-width: 768px) and*/ (max-width: 767px) {
    
    .friends {
        padding: 42px 0 43px 0;
        gap: 26px;
    }

    .friends h2 {
        font-size: 25px;
    }

    .pet_info:nth-child(4),
    .pet_info:nth-child(5),
    .pet_info:nth-child(6) {
        display: none;
    }

    .paging {
        margin-top: 0px;
        gap: 10px;
    }
}

.footer_container {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer_container h2 {
    color: var(--color-light-xl);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 126%;
    letter-spacing: 0.06em;
}

.contacts {
    margin-top: 17px;
    max-width: 280px;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
}

.adress {
    margin-top: 17px;
    max-width: 300px;
    display: flex;
    flex-flow: column wrap;
    gap: 34px;
}

.email {
    padding-top: 4px;
    padding-left: 60px;
    max-width: 250px;
    height: 32px;
    background-image: url(../../assets/svg/icon-email.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    position: relative;
}

.email>a:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: -12px;
    right: -5px;
}

.cell {
    padding-top: 4px;
    padding-left: 60px;
    max-width: 250px;
    height: 32px;
    background-image: url(../../assets/svg/icon-phone.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    position: relative;
}

.cell>a:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: -12px;
    right: -5px;
}

.frst_location {
    display: flex;
    align-items: center;
    padding-left: 42px;
    max-width: 302px;
    height: 46px;
    background-image: url(../../assets/svg/icon-marker.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    position: relative;
}

.frst_location a:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

.scnd_location{
    display: flex;
    align-items: center;
    padding-left: 42px;
    max-width: 302px;
    height: 32px;
    background-image: url(../../assets/svg/icon-marker.svg);
    background-repeat: no-repeat;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    position: relative;
}

.scnd_location a:before {
    content: '';
    position: absolute;
    display: block;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}

.scnd_location a,
.frst_location a,
.cell a,
.email a {
    color: var(--color-primary);
    
}

.footer_container img {
    width: 300px;
}

@media /*(min-width: 768px) and*/ (max-width: 1279px) {
    
    .footer_container {
        padding: 30px 0 0 0;
        justify-content: center;
        column-gap: 60px;
        row-gap: 65px;
    }

    .contacts {
        margin-top: 2px;
        margin-left: -7px;
    }
    
    .adress {
        margin-top: 0px;
        max-width: 302px;
        gap: 34px;
    }

    .adress h2 {
        width: 270px;
    }

}

@media /*(min-width: 768px) and*/ (max-width: 767px) {
    
    .footer_container {
        row-gap: 40px;
    }

    .footer_container h2 {
        text-align: center;
        font-size: 25px;
    }

    .contacts {
        align-items: center;
        margin-left: 0px;
    }

    .adress h2 {
        padding-left: 32px;
    }

    .frst_location a {
        width: 310px;
    }

    .adress {
        gap: 40px;
        max-width: 312px;
    }

    .footer_container img {
        padding: 0 20px;
    }

}